[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-vividchalk"]
	path = vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-arduino"]
	path = vim/bundle/vim-arduino
	url = git://github.com/tclem/vim-arduino.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/openscad"]
	path = vim/bundle/openscad
	url = git://github.com/vim-scripts/openscad.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "vim/bundle/vim-niji"]
	path = vim/bundle/vim-niji
	url = https://github.com/amdt/vim-niji
[submodule "vim/bundle/vim-semantic-highlight"]
	path = vim/bundle/vim-semantic-highlight
	url = https://github.com/jaxbot/semantic-highlight.vim.git
